.header {
    background-color: rgba(49, 66, 216, 0.699);
    width: 100%;
    height: 50px;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.arrow-right {
    width: 0; 
    height: 30px; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    
    border-left: 35px solid white;
    cursor: pointer;
    float: left;
    
}

.nom {
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 15px;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.arrow-right:hover {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.drapeau {
    height: 30px;
    width: auto;
    margin: 10px 10px 5px 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
}

.drapeau:hover {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
}

@media only screen and (max-width : 360px) {
    .nom {
        font-size: 20px;
    }
}