<div class="header">
    <div style="float: left;" (click)="openSider()" matTooltip="Ouvrir le menu" [matTooltipPosition]="'left'" class="arrow-right"></div>
    <div style="float: right;">
        <img matTooltip="English" (click)="changeLangue('EN')" class="drapeau" src="http://tescudero.fr/images/drapeau_anglais">
        <img matTooltip="Français" (click)="changeLangue('FR')" class="drapeau" src="http://tescudero.fr/images/drapeau_français">
    </div>
    <p class="nom disable-select">tescudero.fr</p>
    <mat-progress-bar
          [color]="'primary'"
          [mode]="'indeterminate'" *ngIf="loading">
      </mat-progress-bar>
</div>

