h1 {
    font-family: 'fantasy';
    font-weight: bold;
    font-size: 38px;
    color:  rgba(49, 66, 216);
    text-align: center;
}

.bulle-text {
    margin-top: 10%; 
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: rgba(51, 193, 91, 0.541);
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
}

.bulle-text2 {
    margin-top: 10%; 
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    background-color:rgba(49, 66, 216, 0.541);;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 30px;
    font-size: 18px;
}