<h1>~Sports & Spare times~</h1><br/><br/>
<p style="font-size: 28px; color:  rgba(51, 193, 91);font-weight:bold;">Running <li class="fas fa-running icon2"></li></p>
<div style="width:50%; border-bottom: 8px solid rgba(49, 66, 216, 0.699);"></div><br/>
<div class="row">
    <div class="col-lg-6" style="text-align: center;">
        <img width="50%" src="http://tescudero.fr/images/trail.jpg">
    </div>
    <div class="col-lg-6">
        <div class="bulle-text">My main sport is running, I try to pratice twice per week. I already realised a 10Km race at Roanne (45'09")
            and an half marathon at Annecy (1h43min). This sport enables me to vent my frustrations and helps me to get through my hardest periods.
            Moreover I love listening music and this is the best combo with running!
        </div>
    </div>
</div><br/><br/>

<p style="float: right; font-size: 28px; color:rgba(49, 66, 216);font-weight:bold;">Cycling  <li class="fas fa-biking icon2"></li></p><br/><br/>
<div style="float: right;width:50%; border-bottom: 8px solid rgba(51, 193, 91);"></div><br/><br/>
<div class="row">
    <div class="col-lg-6">
        <div class="bulle-text2">Also, I love cycling (MTB and road) because I can discover landscapes and go everywhere, that is exciting !
            In more, during the summer I love following "Le tour de France" who is a wonderfull and a difficult race with mythical montain passes.
            I'm proud of myseflf to have been able to climb "Le mont Ventoux" in 2 hours and 3 minutes.
        </div>
    </div>
    <div class="col-lg-6" style="text-align: center;">
        <img width="50%" src="http://tescudero.fr/images/ventoux2.jpeg">
    </div>
</div><br/><br/>

<p style="font-size: 28px; color:  rgba(51, 193, 91);font-weight:bold;">Music <li class="fas fa-music icon2"></li></p>
<div style="width:50%; border-bottom: 8px solid rgba(49, 66, 216, 0.699);"></div><br/>
<div class="row">
    <div class="col-lg-6" style="text-align: center;">
        <img width="50%" src="http://tescudero.fr/images/slash.jpg">
    </div>
    <div class="col-lg-6">
        <div class="bulle-text">I'm also passinate by rock/metal music, this is why I listening different kind of bands everydays on Spotify.
            Meanwhile, I have seen many concerts in france:
            <ul>
                <li>Alice cooper (Lyon 2017)</li>
                <li>Scorpions (Clermont 2018)</li>
                <li>2 x Iron Maiden (Paris 2018)</li>
                <li>Slash (Toulouse 2019)</li>
            </ul>
        </div>
    </div>
</div><br/><br/>