h2 {
    color: rgb(51, 193, 91);
    margin-left: 30px;
}

#chausson {
    background-image: url("http://tescudero.fr/images/chausson-materiaux.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}