<h2>Mes expériences professionnelles</h2>
<span style="color: grey;"><li style="margin-left: 35px;">octobre 2019 - Aujourd'hui ({{ diff }})</li></span><br/>
<mat-card>
    <mat-card-header>
        <div mat-card-avatar id="chausson" (click)="openDialog('Chausson')"
            matRipple 
            [matRippleUnbounded]="true"
            [matRippleRadius]="60"
            [matRippleColor]="'rgba(49, 66, 216, 0.225)'"></div>
        <mat-card-title style="color: rgb(49, 66, 216);">Développeur IBMi en alternance</mat-card-title>
        <mat-card-subtitle>Chausson matériaux</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <strong>Mes missions</strong>
                </mat-panel-title>
              </mat-expansion-panel-header>
                <p style="color: rgb(51, 193, 91);"><li>Première année (2019-2020)</li></p>
                A mon arrivée dans la société, j'ai suivi une formation de 2 semaines qui m'a permis de me familiariser avec l'environnement
                de l'IBMi (V7R3), et également sur sa base de données DB2 ainsi que les principaux langages de programmation (CL, RP IV/free).<br/>
                Par la suite j'ai participé à des petits projets de développement qui étaient répartis pour l'ensemble des développeurs juniors 
                de l'équipe IBMi afin de pouvoir nous exercer et également découvrir les normes de programmation de l'entreprise.
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
<br/>
<mat-divider></mat-divider>