<div class="row">
    <div style="text-align: center;" class="col-lg-12">
        
        <button mat-button (click)="changeComponent('eportfolio/home')">Home</button>

        <button mat-button [matMenuTriggerFor]="beforeMenu2">Education</button>
        <mat-menu #beforeMenu2="matMenu" xPosition="before">
        <button mat-menu-item (click)="changeComponent('eportfolio/education_R&T')">DUT R&T</button>
        <button mat-menu-item (click)="changeComponent('eportfolio/education_N7')">ENSEEIHT</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu3">Apprenticeship</button>
        <mat-menu #beforeMenu3="matMenu" xPosition="before">
        <button mat-menu-item (click)="changeComponent('eportfolio/apprenticeship')">Company presentation</button>
        <button mat-menu-item (click)="changeComponent('eportfolio/apprenticeship')">My missions</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu4">Professional English</button>
        <mat-menu #beforeMenu4="matMenu" xPosition="before">
        <button mat-menu-item (click)="changeComponent('eportfolio/professional-english')">Item 1</button>
        <button mat-menu-item (click)="changeComponent('eportfolio/professional-english')">Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu5">Sports & Spare Simes</button>
        <mat-menu #beforeMenu5="matMenu" xPosition="before">
        <button mat-menu-item (click)="changeComponent('eportfolio/sports')">Running</button>
        <button mat-menu-item (click)="changeComponent('eportfolio/sports')">Cycling</button>
        </mat-menu>
        <br/>
        <div style="border-bottom: 1px solid grey;"></div>
        <br/>        
    </div>
</div>
<app-home-bis *ngIf="url==='home'"></app-home-bis>
<app-education *ngIf="url==='education'"></app-education>
<app-apprenticeship *ngIf="url==='apprenticeship'"></app-apprenticeship>
<app-professional-english *ngIf="url==='professional-english'"></app-professional-english>
<app-sports *ngIf="url==='sports'"></app-sports>