<div class="row">
    <div style="text-align: center;" class="col-lg-12">
        
        <button mat-button [matMenuTriggerFor]="beforeMenu1" (click)="changeComponent('eportfolio/home')">Home</button>
        <mat-menu id="1" #beforeMenu1="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu2" (click)="changeComponent('eportfolio/education')">Education</button>
        <mat-menu #beforeMenu2="matMenu" xPosition="before">
        <button mat-menu-item>DUT R&T</button>
        <button mat-menu-item>ENSEEIHT</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu3" (click)="changeComponent('eportfolio/apprenticeship')">Apprenticeship</button>
        <mat-menu #beforeMenu3="matMenu" xPosition="before">
        <button mat-menu-item>Company presentation</button>
        <button mat-menu-item>My missions</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu4" (click)="changeComponent('eportfolio/professional-english')">Professional English</button>
        <mat-menu #beforeMenu4="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="beforeMenu5" (click)="changeComponent('eportfolio/sports')">Sports</button>
        <mat-menu #beforeMenu5="matMenu" xPosition="before">
        <button mat-menu-item>Running</button>
        <button mat-menu-item>Cycling</button>
        </mat-menu>
        <br/>
        <div style="border-bottom: 1px solid grey;"></div>
        <br/>        
    </div>
    <app-home-bis *ngIf="url==='home'"></app-home-bis>
    <app-education *ngIf="url==='education'"></app-education>
    <app-apprenticeship *ngIf="url==='apprenticeship'"></app-apprenticeship>
    <app-professional-english *ngIf="url==='professional-english'"></app-professional-english>
    <app-sports *ngIf="url==='sports'"></app-sports>
</div>