<div class="row">
    <div style="text-align: center;" class="col-lg-12">
        
        <button [ngClass]="{'btn-view-menu':true, 'btn-view-menu-active': url === 'home'}" mat-button (click)="changeComponent('eportfolio/home')">Home</button>

        <button [ngClass]="{'btn-view-menu':true, 'btn-view-menu-active': url === 'education'}" mat-button [matMenuTriggerFor]="beforeMenu2">Education</button>
        <mat-menu #beforeMenu2="matMenu" xPosition="before">
        <button mat-menu-item (click)="changeComponent('eportfolio/education_R&T')">DUT R&T</button>
        <button mat-menu-item (click)="changeComponent('eportfolio/education_N7')">ENSEEIHT</button>
        </mat-menu>

        <button [ngClass]="{'btn-view-menu':true, 'btn-view-menu-active': url === 'CLM'}" mat-button [matMenuTriggerFor]="beforeMenu3">Career, leadership & Management</button>
        <mat-menu #beforeMenu3="matMenu" xPosition="before">
            <button mat-menu-item (click)="changeComponent('eportfolio/CLM')">CSR-Ethics Eval</button>
        <button mat-menu-item (click)="changeComponent('eportfolio/CLM')">Company presentation</button>
        <button mat-menu-item (click)="changeComponent('eportfolio/CLM')">My missions</button>
        </mat-menu>

        <button (click)="changeComponent('eportfolio/professional-english')" [ngClass]="{'btn-view-menu':true, 'btn-view-menu-active': url === 'professional-english'}" mat-button >Professional English</button>

        <button [ngClass]="{'btn-view-menu':true, 'btn-view-menu-active': url === 'sports'}" mat-button [matMenuTriggerFor]="beforeMenu5">Sports & Spare Times</button>
        <mat-menu #beforeMenu5="matMenu" xPosition="before">
        <button mat-menu-item (click)="changeComponent('eportfolio/sports')">Running</button>
        <button mat-menu-item (click)="changeComponent('eportfolio/sports')">Cycling</button>
        <button mat-menu-item (click)="changeComponent('eportfolio/sports')">Music</button>
        </mat-menu>
        <br/>
        <div style="border-bottom: 1px solid grey;"></div>
        <br/>        
    </div>
</div>
<app-home-bis *ngIf="url==='home'"></app-home-bis>
<app-education *ngIf="url==='education'"></app-education>
<app-clm *ngIf="url==='CLM'"></app-clm>
<app-professional-english *ngIf="url==='professional-english'"></app-professional-english>
<app-sports *ngIf="url==='sports'"></app-sports>