<div class="titre_menu disable-select">Menu</div><br/>
<div style="border-bottom: 2px solid black;"></div>
<div [ngClass]="{'selection disable-select': true,
                 'onSelection': position === '/home' || position ==='/' }" (click)="changeComponent('home')" matRipple>
    <fa-icon [icon]="faHome"></fa-icon>
    <!-- Français -->
    <span *ngIf="langue === 'FR'"> Accueil </span>
    <!-- Anglais -->
    <span *ngIf="langue === 'EN'"> Home </span>
</div>
<div [ngClass]="{'selection disable-select': true,
                'onSelection': position === '/cv'}" (click)="changeComponent('cv')" matRipple>
    <fa-icon [icon]="faUser"></fa-icon>
    Curriculum-viatae
</div>
<!--<div [ngClass]="{'selection disable-select': true,
                'onSelection': position === '/eportfolio' ||
                               position === '/eportfolio/home' ||
                               position === '/eportfolio/education_R&T' ||
                               position === '/eportfolio/education_N7' ||
                               position === '/eportfolio/apprenticeship' ||
                               position === '/eportfolio/professional-english' ||
                               position === '/eportfolio/sports'}" (click)="changeComponent('eportfolio')" matRipple>
    <fa-icon [icon]="faWallet"></fa-icon>
    eportfolio
</div>-->
<div [ngClass]="{'selection disable-select': true,
                'onSelection': position === '/projects'}" (click)="changeComponent('projects')" matRipple>
    <fa-icon [icon]="faPuzzlePiece"></fa-icon>
    <!-- Français -->
    <span *ngIf="langue === 'FR'"> Projets </span>
    <!-- Anglais -->
    <span *ngIf="langue === 'EN'"> My projects </span>
</div>
<div [ngClass]="{'selection disable-select': true,
                'onSelection': position === '/posts'}" (click)="changeComponent('posts')" matRipple>
    <fa-icon [icon]="faPen"></fa-icon>
    <!-- Français -->
    <span *ngIf="langue === 'FR'"> Mes posts </span>
    <!-- Anglais -->
    <span *ngIf="langue === 'EN'"> Posts </span>
</div>
<div [ngClass]="{'selection disable-select': true,
                'onSelection': position === '/contact'}" (click)="changeComponent('contact')" matRipple>
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <!-- Français -->
    <span *ngIf="langue === 'FR'"> Me contacter </span>
    <!-- Anglais -->
    <span *ngIf="langue === 'EN'"> Contact me </span>
</div>