mat-sidenav-container{
    height: 100%;
}


mat-sidenav {
    // background-color: rgb(125, 125, 255);
    background-color: rgb(147, 153, 211);
    width: 200px;
}

mat-sidenav-container {
    background-color: white;
    // background-image:-webkit-linear-gradient(120deg, white, rgba(125, 125, 255, 0.616));
}