<h1>~Professional English~</h1><br/><br/>
<p style="font-size: 28px; color:  rgba(51, 193, 91);font-weight:bold;">Professional english</p>
<div style="width:50%; border-bottom: 8px solid rgba(49, 66, 216, 0.699);"></div><br/>
<h2>My english projects !</h2>
<ul>
    <li>English debates with my mates</li>
    <li>English presentation about different subjects</li>
    <li>I worked for an ERASMUS project (ECMT+) during my second year to my
        2 years of technical degree in Network and Telecommunications. I had to develop with 4 mates
        a website to organize this special event.
    </li>
</ul>
