<h1>~Apprenticeship~</h1><br/><br/>
<p style="font-size: 28px; color:  rgba(51, 193, 91);font-weight:bold;">CHAUSSON Matériaux (Toulouse)</p>
<div style="width:50%; border-bottom: 8px solid rgba(49, 66, 216, 0.699);"></div><br/>
<div class="row">
    <div style="text-align: center;" class="col-lg-6">
        <img  width="75%" src="http://tescudero.fr/images/chausson_usine.jpg" alt="CHAUSSON usine">
    </div>
    <div class="col-lg-6">
        <h2>What is CHAUSSON Matériaux ?</h2>
        CHAUSSON matériaux is a huge french company in retail and distribution of materials. There is more than 360 agences around the France 
        and also material factories and logistic platforms.<br/>
        <div style="text-align: center;">
            <h2>Video presentation</h2>
            <iframe width="70%" height="auto" src="https://www.youtube.com/embed/BFUIJsHH25M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br/><br/>
        <h2>How I discovered this Company ?</h2>
        ..<br/><br/>
        <h2>What I love about CHAUSSON Matériaux ?</h2>
        ..<br/><br/>
    </div>
</div>

<p style="float: right; font-size: 28px; color:rgba(49, 66, 216);font-weight:bold;">My work as IBMi developper</p><br/><br/>
<div style="float: right;width:50%; border-bottom: 8px solid rgba(51, 193, 91);"></div><br/><br/>

<div class="row">
    <div class="col-lg-6">
        <h2>What is IBMi development ?</h2>
        ..<br/><br/>
        <h2>My main missions</h2>
        ..<br/><br/>
        <h2>What I've done ?</h2>
        ..<br/><br/>
    </div>
    <div style="text-align: center;" class="col-lg-6">
        <img width="75%" src="http://tescudero.fr/images/informatic_chausson.png" alt="CHAUSSON informatique">
    </div>
</div>