li {
    font-size: 18px;
    color:  rgba(49, 66, 216);
    font-weight: bold;
}

li li{
    color:  rgba(51, 193, 91);
}

h1 {
    font-family: 'fantasy';
    font-weight: bold;
    font-size: 38px;
    color:  rgba(49, 66, 216);
    text-align: center;
  }