<p style="font-size: 28px; color:  rgba(51, 193, 91);font-weight:bold;">DUT R&T (2017-2019)</p>
<div style="width:50%; border-bottom: 8px solid rgba(49, 66, 216, 0.699);"></div><br/>
<div class="row">
    <div class="col-lg-6" style="text-align: center;">
        <img width="auto" src="http://tescudero.fr/images/iut_roanne.jpg">
    </div>
    <div class="col-lg-6">
        <h2>My first experience</h2><br/>
        <div>After I had been graduated by a scientific A level, I followed informatic and network courses at IUT de Roanne.
            During this 2 years I got knowledges to set up local area network and also undestand how operator networks work.
            Moreover I learned web programming and created a website for an ERASMUS project with 4 other mates 
            (It was a great experience ). 
            
        </div>
        <br>
        <div style="text-align: center; width: 100%;">
            <div class="row">
                <div class="col-lg-6" style="padding: 15px 15px 15px 15px;">
                    <img width="100%" src="http://tescudero.fr/images/team-wh.png" alt="ECMT+ Roanne team">
                    <div>ECMT+ IP Roanne Organising Committee</div>
                </div>
                <div class="col-lg-6" style="padding: 15px 15px 15px 15px; ">
                    <img style="background-size: cover; height: 83%; width: 100%" src="http://tescudero.fr/images/roanne_ville.jpg" alt="Roanne">
                    <div>Roanne</div>
                </div>
                
            </div>
            
        </div>
        
    </div>
</div><br/><br/>
<div style="float: right;width:50%; border-bottom: 8px solid rgba(51, 193, 91);"></div><br/><br/>
<div class="row">
    <div class="col-lg-6" >
        <h2>What I've learned?</h2>
        <!-- <div style="text-align: center;"><img width="25%" src="http://tescudero.fr/images/undraw_road_to_knowledge_m8s0.svg"></div> -->
        <ul>
            <li>Networking
                <ul>
                    <li>CISCO configuration tools</li>
                    <li>Windows server</li>
                </ul>
            </li>
            <li>Programming
                <ul>
                    <li>C programming and scripting</li>
                    <li>WEB development</li>
                </ul>
            </li>
            <li>Mathematics
                <ul>
                    <li>MATLAB</li>
                    <li>engineering tools</li>
                </ul>
            </li>
            <li>Telecommunications
            <ul>
                <li>ATOLL</li>
                <li>radio propagation</li>
            </ul>
            </li>   
            <li>Project management
            <ul>
                <li>MS Project</li>
            </ul>
            </li>
        </ul>
    </div>
    <div class="col-lg-6">
        <img src="http://tescudero.fr/images/baie_brassage.jpg">
    </div>
</div><br/><br/>
<br/><br/>

<div style="width:50%; border-bottom: 8px solid rgba(49, 66, 216, 0.699);"></div><br/><br/>
<div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
        <h2>My projects during this 2 years</h2>
        <ul>
            <li>Project 1</li>
            <li>Project 2</li>
        </ul>
    </div>
</div>

<p style="float: right; font-size: 28px; color:rgba(49, 66, 216);font-weight:bold;">ENSEEIHT (2019-2022)</p><br/><br/>
<div style="float: right;width:50%; border-bottom: 8px solid rgba(51, 193, 91);"></div><br/><br/>
<div class="row">
    <div class="col-lg-6">
        <img width="75%" src="http://tescudero.fr/images/lg_ENSEEIHT_vue_du_canal.jpg" alt="ENSEEIHT">
    </div>
    <div class="col-lg-6">
        <h2>What I'm learning ?</h2>
    </div>
</div>




