<p style="font-size: 28px; color:  rgba(51, 193, 91);font-weight:bold;">DUT R&T</p>
<div style="width:50%; border-bottom: 8px solid rgba(49, 66, 216, 0.699);"></div><br/>
<div class="row">
    <div class="col-lg-8" >
        <img src="http://tescudero.fr/images/iut_roanne.jpg">
    </div>
    <div class="col-lg-4">
        My first experience
    </div>
</div><br/><br/>
<div style="float: right;width:50%; border-bottom: 8px solid rgba(51, 193, 91);"></div><br/><br/>
<div class="row">
    <div class="col-lg-8" >
        What I've learned?
    </div>
    <div class="col-lg-4">
        <img src="http://tescudero.fr/images/baie_brassage.jpg">
    </div>
</div>


<br/><br/>
<p style="font-size: 28px; color:  rgba(51, 193, 91);font-weight:bold;">ENSEEIHT</p>
<div style="width:50%; border-bottom: 8px solid rgba(49, 66, 216, 0.699);"></div>

