<h1>~My eportfolio~</h1><br/><br/>
<div class="row">
  <div class="col-lg-4">
    <img [hidden]="true" (load)="onLoad()" src="http://tescudero.fr/images/thomas_profil.jpg">
    <div [hidden]="loading" style="width: 300px; 
            height: 300px; 
            border-radius: 50%; 
            border: 2px solid  rgba(49, 66, 216, 0.699); 
            background-image: url('http://tescudero.fr/images/thomas_profil.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; 
            text-align: center;
            margin-left: auto;
            margin-right: auto;">
    </div>
    <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="'50'" *ngIf="loading" style="margin: 0 auto">
    </mat-progress-spinner>
    <br/>
      <div style="text-align: center;
                font-size: 32px;
                color: rgb(51, 193, 91);">
        Thomas ESCUDERO<br/>
        <div style="text-align: center;
                font-size: 22px;
                color: rgba(49, 66, 216, 0.699);
                margin-top: 15px;">
            IT engineering student at ENSEEIHT<br/>
        </div>
    </div><br/><br/>
  </div>
    <div class="col-lg-8">
      <div style="background-color: rgba(51, 193, 91, 0.541);
                  vertical-align: middle;
                  margin-left: 5px;
                  margin-right: 5px; 
                  color: white;
                  padding: 5px 5px 5px 5px;
                  min-height: 100%;
                  border-radius: 15px;"><br/>
          <div style="text-align: center; font-size: 22px;"><strong>About me</strong></div><br/>
          <div style="border: 0.5px solid white;"></div><br/>
          <strong>Self-introduction</strong><br/><br/>
          <ul>
            <li>present who you are on an academic, a professional, and a personal level</li><br/><br/>
            <li>engage your audience</li><br/><br/>
            <li>briefly explain the content and purpose of this ePortfolio</li><br/><br/>
          </ul>
      </div>
    </div>
</div>
<br/><br/>
<div class="row" style="background-color: rgba(49, 66, 216, 0.699);">
  <div class="col-xl-5" >
    <img src="http://tescudero.fr/images/undraw_updated_resume_u4fy.svg" width="90%">
  </div>
  <div class="col-lg-2" style="text-align: center;">
    <button class="btn-view-cv" style="margin-top: 15px;" mat-stroked-button
     [matRippleColor]="'rgba(49, 66, 216, 0.225)'" 
     matRipple [matRippleRadius]="60" 
     [matRippleUnbounded]="true" matTooltip="Download my CV">View my CV</button>
  </div>
  <div class="col-xl-5">
    <img src="http://tescudero.fr/images/undraw_Portfolio_re_qwm5.svg" width="90%">
  </div>
</div><br/><br/>

<h2 style="text-align: center;">My interests</h2>
<div class="row">
    <div class="col-xl-3" style="margin-top: 15px;">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image-enseeiht"></div>
              <mat-card-title>ENSEEIHT</mat-card-title>
              <mat-card-subtitle>engineering school</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://tescudero.fr/images/it_sciences.jpg" alt="ENSEEIHT">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="btn-view-interests" mat-button>See education part</button>
            </mat-card-actions>
          </mat-card>
          
    </div>
    <div class="col-xl-3" style="margin-top: 15px;">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image-chausson"></div>
              <mat-card-title>CHAUSSON matériaux</mat-card-title>
              <mat-card-subtitle>My apprenticeship as IBMi developer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://tescudero.fr/images/camion_toupie.jpg" alt="ENSEEIHT">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="btn-view-interests" mat-button>See apprenticeship part</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-xl-3" style="margin-top: 15px;">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image-english"></div>
              <mat-card-title>ENSEEIHT</mat-card-title>
              <mat-card-subtitle>engineering school</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://tescudero.fr/images/enseeiht.jpg" alt="ENSEEIHT">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="btn-view-interests" mat-button>See professional english part</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-lg-3" style="margin-top: 15px;">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image-sports"></div>
              <mat-card-title>Activities</mat-card-title>
              <mat-card-subtitle>sports, music...</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="http://tescudero.fr/images/ventoux.jpeg" alt="ENSEEIHT">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button class="btn-view-interests" mat-button>See sports & spare times part</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
<br/>
<div style="text-align: center;">
  <h2>Video presentation</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BFUIJsHH25M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br/>



    
