#retour {
    color: rgb(51, 193, 91);
    cursor: pointer;
}

#retour:hover {
    color:rgba(49, 66, 216);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
