<div class="row">
    <div class="col-lg-8">
        <div class="presentation">
            <h2>A propos de tescudero.fr</h2>
            <p><strong style="cursor: pointer;">tescudero.fr</strong> est une web app générée avec <a target="_blank" href="https://cli.angular.io/">Angular CLI </a> 9.1.1 (dernière version en date au jour du développement).
                J'ai décidé de concevoir tescudero.fr afin de partager mes expériences et mes projets et ainsi pouvoir mettre
                en pratique mes compétences en développement web.
            </p>
            <h2>A propos de moi</h2>
            <!-- <div class="row"> -->
                <!-- <div class="col-lg-2" style="text-align: center;margin-bottom: 25px; margin-top: 10px;"> -->
                    
                <!-- </div> -->
                <!-- <div class="col-lg-10"> -->
                    <div style="width: 100%; text-align: center; position: relative;"><div class="cadre_photo"></div></div><br/>
                    <p id="text_pres">Diplômé d'un DUT en réseaux et télécommunications de l'<a target="_blank" href="https://iut-roanne.univ-st-etienne.fr/fr/index.html">IUT de Roanne</a> (2017-2019),
                        J'ai intégré en septembre 2019 l'<a target="_blank" href="http://www.enseeiht.fr/fr/index.html">ENSEEIHT</a> en sciences du numérique à Toulouse afin d'enrichir
                        mes compétences sur les nouvelles technologies de l'information et de la communication.
                        En parallèle à mes études, je suis en alternance chez <a target="_blank" href="https://chausson-materiaux.fr">Chausson matériaux</a> (grande entreprise
                        nationale de négoce de matériaux) en tant que développeur IBMi. Dans un environnement agile et
                        une équipe de 8 développeurs et sous la responsabilité d'un chef de projet, je participe au développement et au maintien
                        des applications métiers sur système i (CL, RPG IV, free).
                    </p>
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
    <div class="col-lg-4 contenu-reseau">
        <div class="reseaux">
            <div style="height: 100%; width: 100%">
                <div class="cadre_reseaux">
                    <div style="text-align: center;padding-top: 30px;"><h2>Où me trouver ?</h2></div>
                </div>
                <div class="cadre_reseaux cadre_reseaux_twitter">
                    <div class="row">
                        <div class="col-lg-2 contenu-icon" 
                            [matRippleColor]="'rgba(49, 66, 216, 0.225)'" 
                            matRipple [matRippleRadius]="60" 
                            [matRippleUnbounded]="true">
                            <a target="_blank" href="https://twitter.com/tomogo_43"><i class="fab fa-twitter icon icon-twitter"></i></a>
                        </div>
                        <div class="col-lg-10 link disable-select">
                            Mon actu sur twitter
                        </div>
                    </div>
                </div>
                <div class="cadre_reseaux cadre_reseaux_github">
                    <div class="row">
                        <div class="contenu-icon col-lg-2" 
                            [matRippleColor]="'rgba(49, 66, 216, 0.225)'" 
                            matRipple [matRippleRadius]="60" 
                            [matRippleUnbounded]="true">
                            <a target="_blank" href="https://github.com/tomogo43"><i class="fab fa-github icon icon-github"></i></a>
                        </div>
                        <div class="col-lg-10 link disable-select">
                            Mes projets sur github
                        </div>
                    </div>
                </div>
                <div class="cadre_reseaux cadre_reseaux_linkedin">
                    <div class="row">
                        <div class="contenu-icon col-lg-2" 
                        [matRippleColor]="'rgba(49, 66, 216, 0.225)'" 
                        matRipple [matRippleRadius]="60" 
                        [matRippleUnbounded]="true">
                        <a target="_blank" href="https://www.linkedin.com/in/thomas-escudero/"><i class="fab fa-linkedin icon icon-linkedin"></i></a>
                        </div>
                        <div class="col-lg-8 link disable-select">
                                Mon profil linkedin                    
                        </div>
                    </div>
                </div>
                <div class="cadre_reseaux cadre_reseaux_strava">
                    <div class="row">
                        <div class="contenu-icon col-lg-2" 
                            [matRippleColor]="'rgba(49, 66, 216, 0.225)'" 
                            matRipple [matRippleRadius]="60" 
                            [matRippleUnbounded]="true">
                            <a target="_blank" href="https://www.strava.com/athletes/32084229"><i class="fab fa-strava icon icon-strava"></i></a>
                        </div>
                        <div class="col-lg-8 link disable-select">
                            Mes sorties sur strava
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div style="text-align: center;"><h2>Où me trouver ?</h2></div>
            <div class="row">
                <div class="col-lg-2 contenu-icon" 
                    [matRippleColor]="'rgba(49, 66, 216, 0.225)'" 
                    matRipple [matRippleRadius]="60" 
                    [matRippleUnbounded]="true">
                    <a target="_blank" href="https://twitter.com/tomogo_43"><i class="fab fa-twitter icon icon-twitter"></i></a>
                </div>
                <div class="col-lg-10 link">
                    Mon actu sur twitter
                </div>
            </div>
            <div class="row">
                <div class="contenu-icon col-lg-2" 
                    [matRippleColor]="'rgba(49, 66, 216, 0.225)'" 
                    matRipple [matRippleRadius]="60" 
                    [matRippleUnbounded]="true">
                    <a target="_blank" href="https://github.com/tomogo43"><i class="fab fa-github icon icon-github"></i></a>
                </div>
                <div class="col-lg-10 link">
                    Mes projets sur github
                </div>
            </div>
            <div class="row">
                <div class="contenu-icon col-lg-2" 
                [matRippleColor]="'rgba(49, 66, 216, 0.225)'" 
                matRipple [matRippleRadius]="60" 
                [matRippleUnbounded]="true">
                <a target="_blank" href="https://www.linkedin.com/in/thomas-escudero/"><i class="fab fa-linkedin icon icon-linkedin"></i></a>
                </div>
                <div class="col-lg-8 link">
                        Mon profil linkedin                    
                </div>
            </div>
            <div class="row bandeau_strava">
                <div class="contenu-icon col-lg-2" 
                    [matRippleColor]="'rgba(49, 66, 216, 0.225)'" 
                    matRipple [matRippleRadius]="60" 
                    [matRippleUnbounded]="true">
                    <a target="_blank" href="https://www.strava.com/athletes/32084229"><i class="fab fa-strava icon icon-strava"></i></a>
                </div>
                <div class="col-lg-8 link">
                    Mes sorties sur strava
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="fonctionnement">
        <h2>Fonctionnement du site <i class="fas fa-tools"></i></h2>
        <i class="fas fa-arrow-circle-right fleches"></i> Appuyez sur le triangle blanc en haut à gauche de la page
        pour afficher le menu de l'application.
        <br/><br/>
        <i class="fas fa-arrow-circle-right fleches"></i> Sélectionnez un item pour accéder à la page souhaitée.
    </div>
</div>
<div class="row">
    <div class="fonctionnement">
        <h2>Dernières informations <i class="fas fa-info"></i></h2>
        <p style="color: rgb(143, 132, 132);">version 1.1 (release 18/04/2020)</p>
    </div>
</div>
