.reseaux {
    border: 2px solid rgb(53, 49, 49);
    width: 75%;
    height: 100%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    box-shadow: 10px 5px 5px grey;
}

.title {
    text-align: center;
}