.presentation {
    border: 2px solid rgb(179, 177, 177);
    width: 85%;
    height: 100%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding: 5px 5px 5px 5px;
    box-shadow: 10px 5px 5px grey;
    font-size: 16px;
    font-size: 18px;
}

.reseaux {
    border: 2px solid rgb(179, 177, 177);
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 15%;
    box-shadow: 10px 5px 5px grey;
}

.title {
    text-align: center;
    font-size: 24px;
    margin: 5px 5px 5px 5px;
    color: rgb(49, 66, 216);;
    text-decoration: underline 2px rgb(49, 66, 216);
}

.contenu-icon {
    width: 100%;
    text-align: center;
}

.icon {
    font-size: 45px;
    color: rgba(128, 128, 128, 0.61);
    cursor: pointer;
    margin: 5px 5px 5px 5px;
    
}
.icon-twitter:hover {
    color: #00acee;
    rotate: -20deg;
    transition-duration: 1s;
}

.icon-github:hover {
    color: black;
}

.icon-linkedin:hover {
    color: #0e76a8; 
}

.icon-strava:hover {
    color: #FC4C02;
}

.link {
    margin-top: 20px;
    font-size: 20px;
    height: auto;
}

.fonctionnement {
    border: 2px solid rgb(179, 177, 177);
    margin-top: 50px;
    width: 95%;
    margin-left: 5.5%;
    margin-right: 2.5%;
    padding: 5px 5px 5px 5px;
    box-shadow: 10px 5px 5px grey;
    font-size: 16px;
}

.fleches {
    color: rgba(128, 128, 128, 0.61);
    font-size: 24px;
}

.fleches:hover {
    color: rgb(49, 66, 216);
}

h2 {
    //color: rgb(49, 66, 216);
    color: rgb(51, 193, 91);
    font-size: 28px;
}


#photo_profil {
    cursor: pointer; 
    width: 150px; 
    height: auto; 
    transform: rotate(90deg);
    //rotate: 90deg;
    float: left;
    margin: 5px 5px 5px 5px;
}

#photo_profil:hover {
    scale: (1.1);
    transition: 1s;
}

#text_pres {
    margin-left: 5px;
    margin-right: 5px;
}

.bandeau_strava {
    width: 100%;
    margin-left: 0;
    //height: 100%;
    //margin-left: 5px;
    background-image: url("http://tescudero.fr/images/run3.jpg");
    opacity: 0.4;
    background-size: 100%;
}

.bandeau_strava:hover {
    opacity: 0.6;
    transition: 1s;
}

@media only screen and (max-width : 960px) {
    /* Styles */
    .link {
        text-align: center;
    }
    
    .contenu-reseau {
        margin-top: 50px;
    }

    .fonctionnement {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .presentation, .reseaux {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .reseaux {
        text-align: center;
    }
    
    #photo_profil {
        width: 150px;
        margin-left: -20px;
        margin-bottom: 8%;
        margin-top: 20px;
    }
    

    .presentation {
        font-size: 18px;
    }

    #text_pres {
        margin-left: 0px;
        margin-right: 5px;
    }

    h2 {
        text-align: center;
    }
}

